<header>
    <div class="header-container">
        <div class="logo-container">
            <!-- Make sure the image source is correct according to your public directory structure -->
            <img src="/images/Logo_Data_Science_Challenge_Library.jpg" alt="Data Science Challenge Library Logo">
        </div>
        <nav class="navbar">
            <!-- Update these links to point to your Express routes -->
            <a href="/">Home</a>
            <a href="/competitions">Competitions</a>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/about">About</a>
            <% if (user) { %>
                <span>Welcome, <%= user.username %></span>
                <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/registration">Registration</a>
            <% } %>
        </nav>
    </div>
</header>
